
.ipynb_checkpoints/Document classification-checkpoint.ipynb
__pycache__/classification_model_util.cpython-37.pyc
classification_model_util.pyc
Flask_Application.zip
Flask_Application/__pycache__/application_util.cpython-37.pyc
Flask_Application/__pycache__/classification_model_util.cpython-37.pyc
model_2.pkl
model_light.pkl
shuffled-full-set-hashed.csv
